<link href="http://oditek.in/jslib/aboutcss.css" rel="stylesheet" integrity="sha384-tEgmOghGBnPJQ3h63qzTE8V69SDVkIIyQeOFDfsG+AWJqA/UfZMmyQcXQVunl3wT" crossorigin="anonymous">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink ='/'>Home</a></li>
      <li class="active"><a [routerLink] = "['/about', '0sRBxglEC3T0r7ccWjtw']" routerLinkActive="active">About</a></li>
    </ul>
  </div>
</nav>
<div>
<form [formGroup]="textForm" (ngSubmit)="onTextFormSubmit()">
<input type="text" placeholder="please enter url" formControlName="url" id="weburl"><label *ngIf="textForm.get('url').invalid && processValidation" [ngClass] = "'error'"> Valid Url(i.e-http:// or https:// should use) is required. </label>
<button type="submit">ADD</button>
</form>
<div *ngFor = "let aboutDataall of aboutData">
  <p class="color_yellow">{{aboutDataall.title}}</p>
  <p>{{aboutDataall.content}}</p>
</div>