<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink ='/'>Home</a></li>
        <li class="active"><a [routerLink] = "['/about', '0sRBxglEC3T0r7ccWjtw']" routerLinkActive="active">About</a></li>
      </ul>
    </div>
  </nav>
  <p>
    Welcome to File Inclusion Application
  </p> 